<h1><%= @artist.artist_name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>
<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<!-- Photos -->
<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
<hr>
<h4>List of Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |so| %>
      <li><%= so.song_name %></li>
    <% end %>

  </ul>

<% else %>
  <p>There are no songs listed.</p>
<% end %>
<hr>


<h4>Add or Edit Songs</h4>

<%= link_to "Add or Edit", root_path %>

<hr>

<%= link_to "[All Artists]", root_path %>
