<h1><%= @artist.artist_name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Bio: <%= @artist.bio %></p>
<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<!-- Photos -->
<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
<hr>
<h4>List of Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <!-- <li><%= song.song_name %> -->

  <li class="song<%= song.completed? ? " completed" : "" %>" data-id="<%= song.id %>">
  <input name="song[<%= song.id %>]" id="song-<%= song.id %>" type="checkbox" value="1" <%= song.completed? ? 'checked="checked"' : '' %>>
  <label for="song-<%= song.id %>"><%= song.song_name %></label>
  </li>
      <!-- <%= link_to "[Edit]", edit_artist_song_path(@artist, song) %></li>
      <%= link_to "[Add]", new_artist_song_path(@artist, song) %></li>
      <%= link_to "[Delete]", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" } %> -->
    <% end %>

  </ul>

<% else %>
  <p>There are no songs listed.</p>
<% end %>


<hr>
<%= link_to "[All Artists]", root_path %>

<script>
function toggleDone(event) {
  var target = $(event.target);
  var listItem = $(target).parent();

  var songId = listItem.data('id');
  var isCompleted = !listItem.hasClass("completed");

  if ($(event.target).is(":checked")) {
    if(!$(this).parent().hasClass("completed")) {
        $(this).parent().addClass("completed");
    }
  }else {
    $(this).parent().removeClass("completed");
  };
}

$( "input[type=checkbox]").click(toggleDone);

</script>
